body {
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  line-height: 1.4;
  color: white;
}
.black {
  color: black;
}

.social {
  padding-top: 20px;
}
#contact p{
  line-height: 3
}
.navbar {
  opacity: 0.7;
}

.codewar {
  margin-top: 50px;
}
#intro {
  background: url(https://source.unsplash.com/WLUHO9A_xik/1200x800)
}

.img-responsive {
    margin: 0 auto;
}

/*Image TextOver Effect*/

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image:hover {
  opacity: 0.3;
}

.middle:hover {
  opacity: 1;
}

.text {
  background-color: #66cdaa;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
